In [1]:
import pandas as pd 
import numpy as np
df1 = pd.read_csv('spam.csv',encoding='latin-1')
df = df1.copy()

In [2]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.shape

(5572, 5)

In [4]:
df.info() # null values in 3 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [50]:
df.duplicated().sum()  # 453 duplicates rows
df.drop_duplicates(keep='first',inplace=True)

In [5]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [6]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
df['text'] = df['text'].str.lower()
df['text'] = df['text'].str.strip()
df

     target                                               text
0       ham  go until jurong point, crazy.. available only ...
1       ham                      ok lar... joking wif u oni...
2      spam  free entry in 2 a wkly comp to win fa cup fina...
3       ham  u dun say so early hor... u c already then say...
4       ham  nah i don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  this is the 2nd time we have tried 2 contact u...
5568    ham              will ì_ b going to esplanade fr home?
5569    ham  pity, * was in mood for that. so...any other s...
5570    ham  the guy did some bitching but i acted like i'd...
5571    ham                         rofl. its true to its name

[5572 rows x 2 columns]

In [51]:
# checking html tags
df['text'][df['text'].str.contains(r'<.*?>')]  # no html tag found

Series([], Name: text, dtype: object)

In [ ]:
# Regular expression pattern for removing urls and emails
import re
def removing_urls_emails(text):
     pattern = re.compile(r'experiencehttp://www.vouch4me.com/etlp/dining.asp\'')
     pattern1 = re.compile(r'((http)|(www)).*?(com|uk|net)([\S]+)?')
     pattern2 = re.compile(r'\swww.*?[\S]+')
     pattern3 = re.compile(r'\s\w+\.com(uk)?')
     pattern4 = re.compile(r'\s\w+\.co\.uk')
     pattern5 = re.compile(r'https?://(?:\S+\s*)+?(?:com|co\.uk|tv|net|ac)(?:/\S*)?')
     pattern6 = re.compile(r'info@[\S]+')
     pattern7 = re.compile(r'[\S]+\.co\.uk')
     pattern8 = re.compile(r'[\S]+\.com')
     text = re.sub(pattern,'',text)
     text = re.sub(pattern1,'',text)
     text = re.sub(pattern2,'',text)
     text = re.sub(pattern3,'',text)
     text = re.sub(pattern4,'',text)
     text = re.sub(pattern5,'',text)
     text = re.sub(pattern6,'',text)
     text = re.sub(pattern7,'',text)
     text = re.sub(pattern8,'',text)
     return text
     
    
          
    
df['text'] = df['text'].apply(removing_urls_emails)

In [ ]:
# Remove stopwords 
import nltk
from nltk.corpus import stopwords

def removing_stopwords(text):
    l = []
    stopword = stopwords.words('english')

    text = text.split()
    
    for i in text:
        if i not in stopword:
            l.append(i)
    return " ".join(l)

        

df['text'] = df['text'].apply(removing_stopwords)

In [ ]:
# Remove special char + punctuations
def remove_punctuation_specialchar(text):
    pattern = re.compile(r'[^a-zA-Z0-9\s]')
    text = re.sub(pattern,'',text)
    return text.strip()
        


df['text'] = df['text'].apply(remove_punctuation_specialchar)

In [ ]:
# No emoji found 
import emoji    
emoji.EMOJI_DATA
for i in df['text']:
    for ch in i:
        if ch in emoji.EMOJI_DATA:
            print(ch)

In [54]:
df.to_csv('clean_spam.csv',index=False)

In [55]:
pd.read_csv('clean_spam.csv')

     target                                               text
0       ham  go jurong point crazy available bugis n great ...
1       ham                            ok lar joking wif u oni
2      spam  free entry 2 wkly comp win fa cup final tkts 2...
3       ham                u dun say early hor u c already say
4       ham             nah think goes usf lives around though
...     ...                                                ...
5114   spam  2nd time tried 2 contact u u 750 pound prize 2...
5115    ham                          b going esplanade fr home
5116    ham                  pity  mood that soany suggestions
5117    ham  guy bitching acted like interested buying some...
5118    ham                                     rofl true name

[5119 rows x 2 columns]